.container
    .pagination
        button#prev-player Ty Cobb 
        button#next-player Sandy Koufax
    .player-demographics
        h1.player-name
            img(src='http://static.trumedianetworks.com/images/mlb/teams/137.png') 
            | Mookie Betts
        .player-photo
            img(src='https://img.mlbstatic.com/mlb-photos/image/upload/images/headshots/current/60x60/543063@2x.png')
    .stats-filter
        h2 Date Range Filter
        input#datepicker(type='text' autocomplete='off')
        span ↺
    .stats-table
        .stats-table-wrap
            table
                tr
                    th Date
                    th Opp
                    th PA 
                    th AB
                    th H
                    th HR
                    th RBI
                    th BB
                    th K
                    th AVG
                    th OBP
                    th SLG
                    th OPS                
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
                tr
                    td Sep 15
                    td MIL
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787
    .stats-totals
        hr
        div
            h2 Totals
            table
                tr
                    th GP
                    th PA 
                    th AB
                    th H
                    th HR
                    th RBI
                    th BB
                    th K
                    th AVG
                    th OBP
                    th SLG
                    th OPS                
                tr#totals
                    td 30
                    td 3
                    td 2
                    td 2
                    td 1
                    td 0
                    td 1
                    td 1
                    td .333
                    td .387
                    td .400
                    td .787