.container
    .pagination
        button#prev-player(onclick="goPrev()") Prev Batter
        button#next-player(onclick="goNext()") Next Batter
    .player-demographics
        img#player-team
        h1#player-name
        img#player-photo
    .stats-filter
        h2 Date Range Filter
        input#datepicker(type='text' autocomplete='off')
        span(onclick="picker.setDateRange(openingDay, endRegSeason)") ↺
    .stats-table
        .stats-table-wrap
            table#player-stat-table
    .stats-totals
        hr
        div
            h2 Totals
            table
                tr
                    th GP
                    th PA 
                    th AB
                    th H
                    th HR
                    th RBI
                    th BB
                    th K
                    th AVG
                    th OBP
                    th SLG
                    th OPS                
                tr#player-totals