.container
    .pagination
        button#prev-player(onclick="goPrev()") Prev Batter
        button#next-player(onclick="goNext()") Next Batter
    .player-demographics
        div.player-team-details
            img#player-team
            span#player-team-name
        h1#player-name
        img#player-photo
    .stats-filter
        h2 Date Filter
        div#date-filter
            input#date-picker(type='text' autocomplete='off')
            button.reset-button(onclick="picker.setDateRange(openingDay,endRegSeason)") ↺
    .stats-table
        .stats-table-wrap
            table#player-stat-table
    .stats-totals
        hr
        div
            h2 Totals
            table
                tr
                    th GP
                    th PA 
                    th AB
                    th H
                    th HR
                    th RBI
                    th BB
                    th K
                    th AVG
                    th OBP
                    th SLG
                    th OPS                
                tr#player-totals